/* TAGS */
body {
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
  font-weight: bold;
}

h3 {
  font-weight: bold;
  font-size: 1.5rem;
}

h2 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;
}

p {
  color: #8f8f8f;
}

/* IDEA: Title Section */
#title {
  background-color: #ff4c68;
  color: white;
  font-weight: normal;
  padding-bottom: 40px;
}

.container-fluid {
  padding: 3% 15%;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-size: 1.2rem;
}

.dgi {
  position: relative;
}

.dog-img {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
}



/* IDEA: features section */
#features {
  padding: 7% 15%;
  text-align: center;
  background-color: white;
  position: relative;
}

.dv {
  padding: 5%;
}

.i-f {
  color: #ef8172;
  font-size: 3.5rem;
  margin-bottom: 1rem;
}

.i-f:hover {
  color: #ff4c68;
}

/* IDEA: Testimonials section */
#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: white;
}

.bdog {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* IDEA: Press section */
#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.bg {
  margin: 5% 3% 5% 0
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* IDEA: Pricing section */
#pricing {
  text-align: center;
  padding: 100px;
}

.bl {
  width: 100%;
  background-color: #ef8172;
  border-color: #ef8172;
}

.bl:hover {
  background-color: #ff4c68;
  border-color: #ff4c68;
}

.bw {
  width: 100%;
  color: black;
  border-color: BLACK;
}

.bw:hover {
  background-color: #ff4c68;
  border-color: #ff4c68;
}

.cd {
  padding: 3% 2%;
}

/* IDEA: cta section */
#cta {
  padding: 1% 20% 8%;
  background-color: #ff4c68;
  font-family: "Montserrat";
  color: white;
  text-align: center;
}

.h3-cta {
  font-size: 3rem;
  line-height: 1.5;
  margin-bottom: 30px;
}

/* IDEA: footer section */
#footer {
  background-color: white;
  text-align: center;
  padding: 7% 15% 3% 15%;
}

.i-redes {
  margin: 5px 5px 25px;
}

/* IDEA: MediaQuery */

@media (max-width: 1028px) {
  #title { text-align: center;
  }
  .dog-img{
    position: static;
    transform: rotate(0);
  }

}
